@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: linear-gradient(130deg, #eaeaee 0%, #b488a1 100%);
  height: 312rem;
  width: 100%;
  font-family: "Rubik", sans-serif;
  position: relative;
}
@media (min-width: 720px) {
  body {
    height: 196rem;
  }
}
@media (min-width: 900px) {
  body {
    height: 252rem;
  }
}

nav {
  width: 100%;
  height: 5rem;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}
@media (min-width: 720px) {
  nav {
    font-size: 1.5rem;
  }
}
nav .subnav-content {
  visibility: hidden;
  position: absolute;
  width: fit-content;
  z-index: 2;
}
nav .subnav:hover {
  background-color: #d0b3c4;
  height: fit-content;
  transition: 0.8s;
}
nav .subnav:hover .subnav-content {
  visibility: visible;
  transition: 1s;
}
nav .subnav-content li:hover {
  transition: 0.5s;
  background-color: #d0b3c4;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: #3f2735;
}

.container-home {
  background: #ffffff;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.container-home img {
  height: 28rem;
  width: 28rem;
  object-fit: contain;
  margin: 1rem;
}
.container-home p {
  font-size: 2rem;
}
.container-home span {
  font-size: 4rem;
  line-height: 6rem;
}
@media (min-width: 720px) {
  .container-home {
    height: 31rem;
    flex-direction: row;
  }
  .container-home img {
    height: 29rem;
    width: 29rem;
    object-fit: contain;
    margin: 1rem;
  }
  .container-home p {
    font-size: 1.4rem;
  }
  .container-home span {
    font-size: 3rem;
    line-height: 5rem;
  }
}
@media (min-width: 900px) {
  .container-home {
    height: 40rem;
  }
  .container-home img {
    height: 38rem;
    width: 38rem;
    object-fit: contain;
    margin: 1rem;
  }
  .container-home p {
    font-size: 2.4rem;
  }
  .container-home span {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.container-focus {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 70rem;
  top: 50rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.container-focus h1 {
  text-align: center;
}
.container-focus div {
  font-size: 1.1rem;
  margin: 0 1rem;
}
.container-focus div h2 {
  margin-bottom: 1.2rem;
  text-align: center;
}
.container-focus div p {
  line-height: 1.4rem;
}
@media (min-width: 720px) {
  .container-focus {
    height: 40rem;
    top: 36rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4rem 1fr 1fr;
    align-items: flex-start;
  }
  .container-focus h1 {
    grid-column: 1/3;
    font-size: 2rem;
  }
  .container-focus > div {
    margin-top: 2rem;
  }
}
@media (min-width: 900px) {
  .container-focus {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 4rem 1fr 1fr;
    top: 45rem;
    height: 34rem;
  }
  .container-focus h1 {
    grid-column: 1/11;
    grid-row: 1/2;
    font-size: 4rem;
    padding: 1rem;
  }
  .container-focus .container-focus-innovation {
    grid-column: 2/6;
    grid-row: 2/3;
    margin-top: 3.5rem;
  }
  .container-focus .container-focus-creativity {
    grid-column: 6/10;
    grid-row: 2/3;
    margin-top: 3.5rem;
  }
  .container-focus .container-focus-holistic {
    grid-column: 2/6;
    grid-row: 3/4;
  }
  .container-focus .container-focus-simplicity {
    grid-column: 6/10;
    grid-row: 3/4;
  }
}

.container-projects-one {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 42rem;
  top: 122rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  font-size: 1.5rem;
  align-items: center;
}
.container-projects-one img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}
@media (min-width: 720px) {
  .container-projects-one {
    height: 22rem;
    top: 78rem;
    flex-direction: row;
  }
  .container-projects-one img {
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
  }
}
@media (min-width: 900px) {
  .container-projects-one {
    top: 80rem;
    height: 42rem;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
}
.container-projects-one li {
  list-style: none;
}
.container-projects-one img {
  height: 40rem;
  width: 40rem;
  object-fit: contain;
}
.container-projects-one .subcontainer-webdev {
  margin: 2rem auto;
  width: 25rem;
}
.container-projects-one .subcontainer-webdev h2 {
  padding-bottom: 1.1rem;
}
@media (min-width: 720px) {
  .container-projects-one .subcontainer-webdev {
    width: 26rem;
    flex-direction: column;
  }
  .container-projects-one .subcontainer-webdev h2 {
    font-size: 1.5rem;
  }
  .container-projects-one .subcontainer-webdev li {
    font-size: 1.1rem;
  }
}
@media (min-width: 900px) {
  .container-projects-one .subcontainer-webdev {
    width: 50rem;
    margin: 0;
  }
  .container-projects-one .subcontainer-webdev h2 {
    font-size: 2.8rem;
  }
  .container-projects-one .subcontainer-webdev li {
    font-size: 1.8rem;
  }
}

.container-projects-two {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 42rem;
  top: 166rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
}
.container-projects-two li {
  list-style: none;
}
.container-projects-two img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}
@media (min-width: 720px) {
  .container-projects-two {
    top: 100rem;
    height: 22rem;
    flex-direction: row;
  }
  .container-projects-two h2 {
    font-size: 1.5rem;
  }
  .container-projects-two li {
    font-size: 1.1rem;
  }
  .container-projects-two img {
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
  }
}
@media (min-width: 900px) {
  .container-projects-two {
    top: 122rem;
    height: 40rem;
  }
  .container-projects-two img {
    height: 35rem;
    width: 35rem;
    object-fit: contain;
  }
}
.container-projects-two .subcontainer-smm {
  margin: 2rem auto;
  flex-direction: column-reverse;
  width: 25rem;
}
.container-projects-two .subcontainer-smm h2 {
  padding-bottom: 1.1rem;
}
@media (min-width: 720px) {
  .container-projects-two .subcontainer-smm {
    width: 25rem;
    flex-direction: column;
  }
  .container-projects-two .subcontainer-smm h2 {
    font-size: 1.4rem;
  }
  .container-projects-two .subcontainer-smm li {
    font-size: 1.1rem;
  }
}
@media (min-width: 900px) {
  .container-projects-two .subcontainer-smm {
    width: 50rem;
    margin: 0;
  }
  .container-projects-two .subcontainer-smm h2 {
    font-size: 2.8rem;
  }
  .container-projects-two .subcontainer-smm li {
    font-size: 1.8rem;
  }
}

.container-resume {
  position: absolute;
  width: 100%;
  height: 40rem;
  top: 208rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container-resume h1 {
  font-size: 1.5rem;
}
.container-resume p {
  font-size: 1rem;
}
@media (min-width: 720px) {
  .container-resume {
    top: 122rem;
    height: 30rem;
  }
}
@media (min-width: 900px) {
  .container-resume {
    top: 164rem;
    height: 40rem;
  }
  .container-resume h1 {
    font-size: 2.8rem;
  }
  .container-resume p {
    font-size: 1.8rem;
  }
}
.container-resume .resume-container-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 720px) {
  .container-resume .resume-container-content {
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .container-resume .resume-container-content {
    width: 80%;
    justify-content: space-between;
  }
}
.container-resume a {
  font-size: 3rem;
  color: #4b2f3f;
  text-decoration: none;
  margin: 2rem;
  padding: 1rem;
}
.container-resume .container-resume-left {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.container-resume .container-resume-left p {
  margin: 0.5rem;
}
.container-resume .container-resume-left :first-child {
  width: 25%;
}
@media (min-width: 720px) {
  .container-resume .container-resume-left {
    width: 60%;
    flex-direction: column;
  }
  .container-resume .container-resume-left :first-child {
    width: fit-content;
  }
  .container-resume .container-resume-left p {
    margin: 1.1rem;
  }
}
.container-resume .resume-container-right {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-resume .resume-download {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 720px) {
  .social-media-links {
    display: flex;
  }
}

.container-contact {
  position: absolute;
  width: 100%;
  height: 40rem;
  top: 250rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-contact legend {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bolder;
}
.container-contact form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.container-contact label {
  display: block;
  font-size: 1.1rem;
  padding-top: 0.7rem;
}
.container-contact input[type=text] {
  padding: 0.5rem 0.2rem;
  width: 70%;
}
.container-contact textarea {
  width: 100%;
  padding: 0.5rem 0.2rem;
  font-family: "Rubik", sans-serif;
  overflow: auto;
}
.container-contact [type=submit] {
  background-color: #c09bb0;
  color: #22262f;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 720px) {
  .container-contact {
    top: 153rem;
    height: 40rem;
  }
}
@media (min-width: 900px) {
  .container-contact {
    top: 206rem;
    height: 40rem;
  }
  .container-contact h1 {
    font-size: 1.5rem;
  }
  .container-contact legend {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bolder;
  }
  .container-contact form {
    width: 50rem;
  }
  .container-contact label {
    display: block;
    font-size: 1.3rem;
    padding-top: 0.8rem;
  }
  .container-contact input[type=text] {
    padding: 0.6rem 0.4rem;
    font-size: 0.9rem;
  }
  .container-contact textarea {
    padding: 0.6rem 0.4rem;
    font-size: 0.9rem;
  }
  .container-contact [type=submit] {
    font-size: 1.1rem;
  }
}

.container-footer {
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 292rem;
  font-size: 0.7rem;
}
@media (min-width: 720px) {
  .container-footer {
    top: 194rem;
  }
}
@media (min-width: 900px) {
  .container-footer {
    top: 248rem;
    height: 4rem;
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid purple;
}

/*# sourceMappingURL=main.css.map */
